<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Tenali+Ramakrishna|Righteous" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Foodmap</title>
</head>

<body>
  <div id="map"></div>
 
  <div class="container center col s12 m12 l12">
    <div class "row">
        <p class= "header1">¿Qué se te antoja hoy?</p>
        <p class="header2">Escribe un rating para ver los mejores restaurantes de la zona</p>
        <input type="text" id="rating-input" placeholder="escribe el rating aquí">
    </div>
    <button id="button-rating" type="button" class="waves-effect waves-light btn">BUSCAR POR RATING</button>
  </div>
      <!-- <div class="input-field col s12"> -->
      <table class="container col s12 m12 l12" id="contenedor-restaurantes-cercanos">
          <thead>
            <tr>
                <th>Restaurante</th>
                <th>Rating</th>
            </tr>
          </thead>
        </table>
<div id="containerModal"></div>
  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZInQn8sz4LQGT78cscX0ame_UF9aMqRA&libraries=places&callback=initMap"
    async defer></script>
  <script type="text/javascript" src="../js/map.js"></script>
</body>

</html>