.foodmap-logo {
    font-size: 500%;
    font-family: 'Leckerli One', cursive;
}
.foodmap-logo2 {
    font-size: 300%;
    font-family: 'Leckerli One', cursive;
}

.foodm-cont {
    margin-top: 50%;
}

/* Always set the map height explicitly to define the size of the div
             * element that contains the map. */

#map {
    height: 40%;
    margin: 5% 5%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header1{
    font-size: 150%;
}
.header2{
    font-size: 100%;
    font-weight: bold;
}

.restaurant-list{
    list-style: none;
    margin: 10%;
}


.address{
    font-style: italic;
}

#button-rating{
    margin-bottom: 10%;
    padding-bottom: 3%;
}

.color{
    color:black
}

.hidding{
    display:none;
}

#containerModal{
    background-color:#f3f3f3;
    margin-top:20%;
    margin-bottom:10%;
    padding:2%;
}