.foodmap-logo {
    font-size: 500%;
    font-family: 'Leckerli One', cursive;
}

.foodm-cont {
    margin-top: 50%;
}

/* Always set the map height explicitly to define the size of the div
             * element that contains the map. */

#map {
    height: 40%;
    margin: 3% 3%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header1{
    font-size: 200%;
    font-family: 'Righteous', cursive;
}
.header2{
    font-size: 100%;
    font-family: 'Righteous', cursive;
}

.restaurant-list{
    list-style: none;
    margin: 10%;
}

.badRestaurant{
    color: red;
    font-weight: bold;
}

.goodRestaurant {
    color: rgb(151, 228, 35);
    font-weight: bold;
}

.address{
    font-style: italic;
}